# Dependencies
# node_modules/  # pushed intentionally
# app/node_modules/

# Environment variables
# .env  # pushed intentionally

# Database files
data/*.db
data/*.sqlite

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Electron build output
dist/
build/
